.content{
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  background: url("../../../assets/register.jpg") no-repeat;
  background-size:100% 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.formContent{
  height: 97%;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.form{
  background-color: #F0F2F5;
  width: 20%;
  height: 45%;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border: #dde4ec;
  border-radius: 5px;
}
.footer{
  background-color: #F0F2F5;
  opacity: 0.8;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
