.description {
  max-width: 720px;
  line-height: 22px;
}
.extra {
  margin-top: 16px;
  line-height: 22px;
}

.avatar {
  position: relative;
  top: 1px;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: top;
}
