
.container{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.header{
  width: 100%;
  height: 7%;
  display: flex;
  flex: 1;
  align-items: center;
  background-color:#2f3542;
}
.main{
  min-height: 88%;
}
.footer{
  background-color: #F0F2F5;
  opacity: 0.8;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center
}
.header_name{
  font-size: 22px;
  color: #fff;
}
.user{
  margin-left: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.icon{
  font-size: 18px;
  margin-left: 30px;
}
.content{
  width: 100%;
  background-color: #fff;
  margin-left: 10px;
}
