.list {
  height: 380px;
  overflow: auto;
}
.list::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

.list::-webkit-scrollbar-track,
.list::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

.list::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

.list::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

.list::-webkit-scrollbar-corner {
  background: transparent;
}
