.header{
  height: 50px;
  display: -webkit-flex;
  align-items: center;
}
.vertical {
  width: 8px;
  right: 1px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}
