.listItemExtra {
  width: 272px;
  height: 32px;
}
.selfTrigger {
  margin-left: 12px;
}

@media screen and (max-width: 480px) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .selfTrigger {
    display: block;
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .listItemExtra {
    width: 64px;
    height: 32px;
  }
}
.card {
  width: 100%;
}

.nav {
  text-decoration:none !important;
  color: rgba(0, 0, 0, 0.45) !important;
}
