.container{
  height: 700px;
  padding: 5px;
}
/* 工具栏 */
.editToolbar {
  height: 40px;
  width: 100%;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.editToolbar i {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.editToolbar i:hover{
  border: 1px solid #bbb;
  border-radius: 4px;
}

.content{
  height: 100%;
  width: 100%;
  border: 1px solid #bbb;
  display: -webkit-flex;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.markdown{
  float: left;
  height: 100%;
  width: 50%;
  background-color: #F0F2F5;
}
.preview{
  height: 100%;
  width: 50%;
  resize:none;
  outline:none;
  padding: 10px;
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 18px;
  overflow-y: auto;
  background-color: #FFEFDB;
}
.preview::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

.preview::-webkit-scrollbar-track,
.preview::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

.preview::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

.preview::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

.preview::-webkit-scrollbar-corner {
  background: transparent;
}

/*全局设置 编辑器高度 宽度 边框 交互性*/
.edit {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  height: auto;
  resize:none;
  outline:none;
  min-height: 100%;
  padding: 10px;
  width: 100%;
  z-index: 1;
  background-color: #FFFAF0;
  border: 1px solid #bbb;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
}


/* 编辑器滚动条 优化 */
.edit::-webkit-scrollbar {
  width: 20px;
  height: 14px;
}

.edit::-webkit-scrollbar-track,
.edit::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

.edit::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

.edit::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

.edit::-webkit-scrollbar-corner {
  background: transparent;
}

.editStatusBar {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  color: #959694;
  text-align: right;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.editStatusBar span {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em;
}
