.content{
  display: -webkit-flex;
  flex-direction: row;
  min-height: 98%;
  margin-top: 2px;
  background-color: #FFFFFF;
}
.middle{
  width: 40%;
}
.another{
  width: 30%;
}
.other{
  width: 30%;
}
.title{
  display: -webkit-flex;
  text-align: left;
  margin: 16px 0 0;
  font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.0;
}

.htmlCon{
  min-height: 95%;
}
.comment{
  display: -webkit-flex;
  justify-content: center;
  margin-top: 20px;
}
